# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# =========================
# Entorno virtual
# =========================
venv/
.env/

# =========================
# Base de datos
# =========================
*.db
*.sqlite3

# =========================
# Logs
# =========================
*.log

# =========================
# Variables sensibles
# =========================
.env

# =========================
# Docker
# =========================
docker-compose.override.yml

# =========================
# VSCode
# =========================
.vscode/

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db
