version: "3.9"

services:
  app:
    build: .
    depends_on:
      - db
    restart: always

  db:
    image: mysql:8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 1111
      MYSQL_DATABASE: bot
      MYSQL_USER: botuser
      MYSQL_PASSWORD: botpass
    ports:
      - "3307:3306"
    volumes:
      - ./database/db:/docker-entrypoint-initdb.d
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
